name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    strategy:
      matrix:
        otp: ["22.3", "23.3", "24.3", "25.1"]
        elixir: ["1.11", "1.12", "1.13", "1.14"]
        exclude:
          - otp: "24.3"
            elixir: "1.11"
          - otp: "25.1"
            elixir: "1.11"
          - otp: "25.1"
            elixir: "1.12"
          - otp: "25.1"
            elixir: "1.13"
          - otp: "22.3"
            elixir: "1.14"
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    services:
      postgres:
        image: postgres:12-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get
      - name: Run Formatter
        run: mix format --check-formatted
      - name: Run Linter
        run: mix credo
      - name: Run Hex Audit
        run: mix hex.audit
      - name: Generate docs
        run: mix docs
      - name: Run Tests
        run: mix coveralls.github
